#container {
    width: 100%;
    padding-top: 100px;
}
h1 {
    text-align: center;
}
#head {
   display: flex;
   gap: 100px;
   margin-left: 900px;
   letter-spacing: 5px;
}
#title > div {
    display: flex;
    gap: 50px;
}
#products {
    height: 250px;
    border: 1px solid none;
    border-bottom: 1px solid rgb(232,232,225);
}
.cart-content {
   border: 1px solid red;
}

   /* PRODUCT CART */
#cart_products {
    border-top: 1px solid rgb(232,232,225);
    border-bottom: 1px solid rgb(232,232,225);
}
.main {
   border: 1px solid none;
   display: flex;
   gap: 50px;
   margin: 50px;
}
.imgBox {
    border: 1px solid none;
}
.detailBox {
    width: 500px;
    height: 100%;
    border: 1px solid none;
    border: 1px solid none;
}
.quantity-count {
    display: flex;
    height: 50px;
    margin-top: 50px;

}
.priceArea {
    width: 100px;
    height: 100px;
    border: 1px solid none;
    margin-left: 50px;
}
.tot-box {
    width: 50px;
    height: 50px;
    border: 1px solid none;
    margin-left: 50px;
    margin-top: 50px;
}

/* subTotal */

#sumtotal {
    text-align: end;
    padding-right: 100px;
    margin-top: 10px;
}
.subTotal {
    display: flex;
    gap: 200px;
    justify-content: end;
    letter-spacing: 5px;
}
#subT {
    display: flex;
    gap: 200px; 
}
#btns {
    display: flex;
    margin-left: 70%;
    gap: 50px;
}
#small-container {
    scroll-behavior: smooth;
}

